*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(241, 241, 241);
  margin: 0;
  scroll-behavior: smooth;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(47, 47, 47);
}

body .page-max-width {
  max-width: 2000px;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: Verdana;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  text-wrap: pretty;
  font-family: Verdana;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background: rgb(48, 48, 48);
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body nav {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body nav h2 {
  font-size: 1.2rem;
  margin-right: auto;
}
body nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
body nav ul li {
  cursor: pointer;
  transition: 250ms linear;
  border-radius: 0.2rem;
  padding: 0.1rem;
}
body nav ul li:hover {
  mix-blend-mode: difference;
  background: rgb(255, 215, 0);
}
body #bar {
  margin-top: 0.3rem;
  width: 100%;
  background-color: rgb(128, 98, 0);
}
body #barLoading {
  width: 1%;
  height: 0.2rem;
  background-color: rgb(255, 215, 0);
}
body .pomo_Container {
  box-shadow: rgb(22, 22, 22) 3px 3px 2px;
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 60%;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-around;
  background: rgb(71, 71, 71);
  border-radius: 0.5rem;
}
body .pomo_Container .time_selector label {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body .pomo_Container .time_selector .time_selector_btn {
  display: none;
}
body .pomo_Container .time_selector label {
  cursor: pointer;
}
body .pomo_Container .time_selector input[type=radio]:checked + label {
  background: rgb(255, 215, 0);
  color: rgb(46, 46, 46);
  border-radius: 1.2rem;
  padding: 0.2rem;
  font-weight: bold;
}
body .pomo_Container #countdownDisplay {
  font-size: 5rem;
}
body .pomo_Container .playButtons {
  display: flex;
}
body .pomo_Container .playButtons .container {
  position: relative;
  cursor: pointer;
  margin-right: 4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body .pomo_Container .playButtons .container #checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 6rem;
  background: rgb(255, 215, 0);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 2rem;
  color: rgb(46, 46, 46);
}
body .pomo_Container .playButtons .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
body .pomo_Container .playButtons #skip {
  font-size: 2rem;
  width: 1.2rem;
}
body #currentTask {
  background: rgb(71, 71, 71);
  padding: 0 1rem;
  border-radius: 2rem;
  animation: pulse 1000ms infinite;
}
body .task_manager {
  margin: 1rem 0;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(71, 71, 71);
  border-radius: 0.5rem;
  box-shadow: rgb(22, 22, 22) 3px 3px 2px;
}
body .task_manager .task_nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: relative;
}
body .task_manager .task_nav::after {
  position: absolute;
  content: "";
  background: rgb(255, 215, 0);
  top: 1.3rem;
  width: 70%;
  height: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
}
body .task_manager .tasks_list {
  width: 95%;
}
body .task_manager .tasks_list .task {
  background: rgb(46, 46, 46);
  margin: 0.3rem 0;
  padding: 1rem;
  display: flex;
  border-radius: 0.2rem;
  align-items: center;
}
body .task_manager .tasks_list .task_Name {
  margin: 0 auto;
  padding: 0.5rem;
  text-wrap: pretty;
}
body .task_manager .tasks_list .How_Many_Pomo {
  margin: auto;
}
body .task_manager .tasks_list .options {
  margin-left: 0.5rem;
}
body .task_manager .add_task {
  justify-content: center;
  cursor: pointer;
}
body .task_manager .pomos_sched {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0.4rem 0;
}
body .task_manager .pomos_sched .pomos {
  display: flex;
  gap: 0.2rem;
}
body .task_manager .pomos_sched .finish_at {
  display: flex;
  gap: 0.2rem;
}

.bold {
  font-weight: 600;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.selected {
  background: rgb(255, 215, 0);
  color: rgb(46, 46, 46);
}/*# sourceMappingURL=index.css.map */