*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(241, 241, 241);
  margin: 0;
  scroll-behavior: smooth;
}
*:not(i) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(47, 47, 47);
}
body .page-max-width {
  max-width: 2000px;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: Verdana;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  text-wrap: pretty;
  font-family: Verdana;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background: rgb(48, 48, 48);
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    transition: 150ms linear;
    nav {
      max-width: 50rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h2 {
        font-size: 1.2rem;
        margin-right: auto;
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        li {
          cursor: pointer;
          transition: 250ms linear;
          border-radius: 0.2rem;
          padding: 0.1rem;

          &:hover {
            mix-blend-mode: difference;
            background: rgb(255, 215, 0);
          }
        }
      }
    }

    #bar {
      margin-top: 0.3rem;
      width: 100%;
      background-color: rgb(128, 98, 0);
    }

    #barLoading {
      width: 1%;
      height: 0.2rem;
      background-color: rgb(255, 215, 0);
    }
    .pomo_Container {
      box-shadow: rgb(22, 22, 22) 3px 3px 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20rem;
      width: 100%;
      max-width: 30rem;
      margin: 2rem auto;
      background: rgb(71, 71, 71);
      border-radius: 0.5rem;

      .time_selectors {
        .time_selector_btn {
          margin: 0 0.5rem;
          font-size: 1.4rem;
        }
        .active {
          background: rgb(255, 215, 0);
          color: rgb(46, 46, 46);
          border-radius: 1.2rem;
          padding: 0.2rem;
          font-weight: bold;
        }
      }

      #countdownDisplay {
        font-size: 5rem;
      }

      .playButtons {
        display: flex;

        .container {
          position: relative;
          cursor: pointer;
          margin-right: 4rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          #checkmark {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2rem;
            width: 6rem;
            background: rgb(255, 215, 0);
            text-align: center;
            font-size: 1.4rem;
            font-weight: 700;
            border-radius: 2rem;
            color: rgb(46, 46, 46);
          }

          & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        }

        #skip {
          font-size: 2rem;
          width: 1.2rem;
        }
      }
    }
    .task-section {
      #currentTask {
        background: rgb(71, 71, 71);
        padding: 0 1rem;
        border-radius: 2rem;
        animation: pulse 1000ms infinite;
      }

      .new_task_maker {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #HowLong::after {
          content: "Pomos";
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .task_manager {
        margin: 1rem 0;
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(71, 71, 71);
        border-radius: 0.5rem;
        box-shadow: rgb(22, 22, 22) 3px 3px 2px;

        .task_nav {
          display: flex;
          width: 90%;
          justify-content: space-between;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            background: rgb(255, 215, 0);
            top: 1.3rem;
            width: 70%;
            height: 0.1rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .tasks_list {
          width: 95%;

          .task_Name {
            margin: 0 auto;
            padding: 0.5rem;
            text-wrap: pretty;
          }
          .How_Many_Pomo {
            margin: auto;
          }
          .options {
            margin-left: 0.5rem;
          }
        }
        .add_task {
          cursor: pointer;
          max-width: 23rem;
          justify-content: center;
        }
        .pomos_sched {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin: 0.4rem 0;

          .pomos {
            display: flex;
            gap: 0.2rem;
          }
          .finish_at {
            display: flex;
            gap: 0.2rem;
          }
        }
      }
    }
  }
}

.popup {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 38rem;
  min-width: 15rem;
  height: 20rem;
  margin: 0 0.4rem;
  .new_task_maker {
    background: rgba(71, 71, 71, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border-radius: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .task-name {
      display: flex;
      position: relative;
      max-width: 100%;

      input[type="text"] {
        font-size: 1.2rem;
        font-style: italic;
        padding: 5px 10px;
        width: 100%;
        outline: none;
        background: #2e2e2e;
        letter-spacing: 1px;
        border-radius: 0.8rem;
        box-shadow: 3px 3px 2px 0px #2e2e2e;
        transition: 0.3s ease;
      }

      input:focus {
        background: #5a5a5a;
        border-radius: 0.8rem;
      }
      input::placeholder {
        color: #e2e2e2;
      }
    }
    .task-duration-container {
      display: flex;
      align-items: center;
      position: relative;
      max-width: 11rem;

      input[type="number"] {
        font-size: 1.2rem;
        font-style: italic;
        padding: 5px 10px;
        width: 100%;
        outline: none;
        background: #2e2e2e;
        letter-spacing: 1px;
        border-radius: 0.8rem;
        box-shadow: 3px 3px 2px 0px #2e2e2e;
        transition: 0.3s ease;
      }
      input:focus {
        background: #5a5a5a;
        border-radius: 0.8rem;
      }
      input::placeholder {
        color: #e2e2e2;
      }
      #pHours {
        text-wrap: nowrap;
      }
    }

    .form-settings {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .add-task-btn {
      margin: 0 2rem;

      #cancelBtn {
        transition: 100ms ease;
        margin-right: 0.8rem;
        &:hover {
          transform: skew(-20deg);
        }
      }

      input[type="submit"] {
        height: 2rem;
        width: 6rem;
        background: rgb(255, 215, 0);
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 2rem;
        color: rgb(46, 46, 46);
        transition: 100ms ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        &:focus {
          filter: contrast(50%);
        }
      }
    }
  }
}
.task {
  background: rgb(46, 46, 46);
  margin: 0.3rem 0;
  padding: 1rem;
  display: flex;
  border-radius: 0.2rem;
  align-items: center;
  width: 100%;
}
.bold {
  font-weight: 600;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.active {
  background: rgb(255, 215, 0);
  color: rgb(46, 46, 46);
}

.darken {
  opacity: 0.3;
}
.hidden {
  display: none;
}
